<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.charlie.mapper.IdenCardMapper">
    <!--
    1. 据id获取身份证序列号
    2. 配置/实现 public IdenCard getIdenCardById(Integer id);-->
    <select id="getIdenCardById" parameterType="Integer" resultType="IdenCard">
        select * from `idencard` where `id`=#{id};
    </select>

    <!--
    1. 根据id查询身份证信息，并级联查询对应person的数据
    2.public IdenCard getIdenCardById2(Integer id);
    -->
    <resultMap id="id1" type="IdenCard">
        <id property="id" column="id"/>
        <result property="card_sn" column="card_sn"/>
        <association property="person" column="id" select="com.charlie.mapper.PersonMapper.getPersonByCardId"/>
    </resultMap>
    <select id="getIdenCardById2" parameterType="Integer" resultMap="id1">
        select * from `idencard` where `id`=#{id};
    </select>
</mapper>